# Compiled output
/dist
/tmp
/output

# Node
/node_modules
npm-debug.log
yarn-error.log

# Environment & secrets
.env

# Drizzle
drizzle/

# IDEs and editors
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*
.eslintcache

# System files
.DS_Store
Thumbs.db